$darkmode: true;
$primary: #ffabf2;
$onPrimary: #551352;
$primaryContainer: #6f2c6a;
$onPrimaryContainer: #ffd6f6;
$secondary: #dabfd2;
$onSecondary: #3d2a39;
$secondaryContainer: #554151;
$onSecondaryContainer: #f8daef;
$tertiary: #f5b8a7;
$onTertiary: #4c261a;
$tertiaryContainer: #663c2f;
$onTertiaryContainer: #ffdbcf;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #120F11;
$background: #120F11;
$onBackground: #eae0e4;
$surface: #1e1a1d;
$onSurface: #eae0e4;
$surfaceVariant: #4e444b;
$onSurfaceVariant: #d1c3cb;
$outline: #9a8d95;
$shadow: #000000;
$inverseSurface: #eae0e4;
$inverseOnSurface: #342f32;
$inversePrimary: #8b4484;
