$darkmode: true;
$primary: #ffb2b9;
$onPrimary: #5f1220;
$primaryContainer: #7e2935;
$onPrimaryContainer: #ffdadd;
$secondary: #e6bcbe;
$onSecondary: #44292b;
$secondaryContainer: #5d3f41;
$onSecondaryContainer: #ffdadb;
$tertiary: #e7c08e;
$onTertiary: #432c06;
$tertiaryContainer: #5d421b;
$onTertiaryContainer: #ffddb0;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0F;
$background: #130F0F;
$onBackground: #ecdfdf;
$surface: #201a1a;
$onSurface: #ecdfdf;
$surfaceVariant: #534344;
$onSurfaceVariant: #d7c2c2;
$outline: #a08c8d;
$shadow: #000000;
$inverseSurface: #ecdfdf;
$inverseOnSurface: #362f2f;
$inversePrimary: #9c404b;
