$darkmode: true;
$primary: #fface6;
$onPrimary: #58114a;
$primaryContainer: #732a62;
$onPrimaryContainer: #ffd7f0;
$secondary: #dcbecf;
$onSecondary: #3f2a38;
$secondaryContainer: #56404e;
$onSecondaryContainer: #fadaec;
$tertiary: #f4b9a1;
$onTertiary: #4b2616;
$tertiaryContainer: #653c2a;
$onTertiaryContainer: #ffdbcc;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #120F11;
$background: #120F11;
$onBackground: #eae0e3;
$surface: #1f1a1d;
$onSurface: #eae0e3;
$surfaceVariant: #4f444a;
$onSurfaceVariant: #d3c2ca;
$outline: #9b8d94;
$shadow: #000000;
$inverseSurface: #eae0e3;
$inverseOnSurface: #342f31;
$inversePrimary: #8f427b;
