$darkmode: true;
$primary: #b4c5ff;
$onPrimary: #032978;
$primaryContainer: #25418f;
$onPrimaryContainer: #dae1ff;
$secondary: #c1c5dc;
$onSecondary: #2b3042;
$secondaryContainer: #414659;
$onSecondaryContainer: #dde1f9;
$tertiary: #e3bbdb;
$onTertiary: #422740;
$tertiaryContainer: #5a3d57;
$onTertiaryContainer: #ffd7f8;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e3e1e6;
$surface: #1b1b1f;
$onSurface: #e3e1e6;
$surfaceVariant: #45464f;
$onSurfaceVariant: #c6c6d0;
$outline: #8f909a;
$shadow: #000000;
$inverseSurface: #e3e1e6;
$inverseOnSurface: #303033;
$inversePrimary: #405aa9;
